.homePage {
    text-align: center;
    font-family: "Amaranth", sans-serif;
    background-color: #001011;
    justify-content: center;
    padding: 5px;
}

.head {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    color: #d6a2ad;
}
.rules {
    background-color: #454b66;
    margin: 10px 20px 10px 20px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
}

#form-container {
    height: auto;
    width: auto;
    display: flex;

    justify-content: center;
    text-align: center;
    font-family: "Amaranth", sans-serif;
}

form {
    border-radius: 10px;
    background-color: #322a26;
    height: auto;
    width: 250px;
    margin: 10px;

    flex-direction: column;
    display: flex;
    padding: 10px;
    box-shadow: 10px 10px 10px #bde6d2(0, 0, 0, 0.25);
}
label {
    font-family: "Amaranth", sans-serif;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}
input {
    height: 30px;
    width: auto;
    background: #d6a2ad;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    font-family: "Amaranth", sans-serif;
}

#pictureConnexion {
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 100px;
    position: relative;

    margin-bottom: 15px;
    margin-top: 15px;
}

.buttonSign {
    height: 40px;
    width: auto;
    background: #d6a2ad;
    border-radius: 10px;

    margin: 10px 40px 10px 40px;

    font-size: 20px;
}
h2 {
    color: #d6a2ad;
}
