.signInUp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    h1 {
        text-align: center;
    }

    #form-container {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .error {
        color: #a94442;
        font-weight: bold;
        text-align: center;
    }

    input {
        padding-left: 10px;
    }

    .formInscription {
        border-radius: 20px;
        background-color: #bde6d2;
        height: auto;
        width: 250px;
        margin: 10px;
        flex-direction: column;
        display: flex;
        padding: 10px;
        box-shadow: 5px 5px 20px black;

        .inputInscription {
            height: 30px;
            width: auto;
            background: #f8e3c7;
            border-radius: 30px;
            margin-bottom: 10px;
            border: none;
        }

        .inputLabel {
            text-align: left;
            margin-left: 10px;
            font-size: 15px;
        }
    }

    .formConnexion {
        border-radius: 20px;
        background-color: #bde6d2;
        height: auto;
        width: 250px;
        margin: 10px;
        flex-direction: column;
        display: flex;
        padding: 10px;
        box-shadow: 5px 5px 20px black;
        justify-content: center;

        .inputConnexion {
            height: 30px;
            width: auto;
            background: #f8e3c7;
            border-radius: 30px;
            margin-bottom: 10px;
            border: none;
        }

        .inputLabel {
            text-align: left;
            margin-left: 10px;
            font-size: 15px;
        }
        .bg-icone {
            display: flex;
            align-items: center;
            text-align: center;
            margin: auto;
            
            border-radius: 100px;
            position: relative;
            margin-bottom: 10px;
            #gravatar{
                border-radius: 100px;
                
            }
        }
        
    }

    .inputInscription:valid {
        box-shadow: 0 0 5px 0 lightgreen;
    }
    .inputConnexion:valid {
        box-shadow: 0 0 5px 0 lightgreen;
    }

    .line {
        height: 300px;
        width: 10px;
        min-width: 10px;
        background-color: #bde6d2;
        box-shadow: 5px 5px 20px black;
        border-radius: 5px;
    }
    .formRandomColor {
        display: flex;
        flex-direction: row;
        width: 225px;
        margin: auto;
        margin-bottom: -8px;
        .randomColor {
            height: 50px;
            width: 50px;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 25px;
        }
    }
}
@media all and (max-device-width: 480px){
    .signInUp{
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 200px;
        
            
            .formConnexion{
                margin:0px;
            }
    }
}