.homePage {
    text-align: center;
    font-family: "Amaranth", sans-serif;

    justify-content: center;

    .head {
        background-color: grey;
        margin: 10px 20px 10px 20px;
        padding: 10px 0 10px 0;
        border-radius: 30px;
    }
}

.rules {
    background-color: #bde6d2;
    margin: 10px 20px 10px 20px;
    padding: 10px 0 10px 0;
    border-radius: 30px;
}

#form-container {
    height: auto;
    width: auto;
    display: flex;
    //background-color: black;
    justify-content: center;
    text-align: center;
    font-family: "Amaranth", sans-serif;
}

.formInscription {
    border-radius: 30px;
    background-color: #bde6d2;
    height: auto;
    width: 250px;
    margin: 10px;

    flex-direction: column;
    display: flex;
    padding: 10px;
    box-shadow: 10px 10px 10px #bde6d2(0, 0, 0, 0.25);

    .inputInscription {
        height: 30px;
        width: auto;
        background: #f8e3c7;
        border-radius: 30px;
        margin-bottom: 10px;
        border: none;
        font-family: "Amaranth", sans-serif;
    }

    .inputLabel {
        font-family: "Amaranth", sans-serif;
        text-align: left;
        margin-left: 10px;
        font-size: 15px;
    }
}

.formConnexion {
    border-radius: 30px;
    background-color: #bde6d2;
    height: auto;
    width: 250px;
    margin: 10px;

    flex-direction: column;
    display: flex;
    padding: 10px;
    box-shadow: 10px 10px 10px #bde6d2(0, 0, 0, 0.25);

    .inputConnexion {
        height: 30px;
        width: auto;
        background: #f8e3c7;
        border-radius: 30px;
        margin-bottom: 10px;
        border: none;
        font-family: "Amaranth", sans-serif;
    }

    .inputLabel {
        font-family: "Amaranth", sans-serif;
        text-align: left;
        margin-left: 10px;
        font-size: 15px;
    }

    #icon {
        font-size: 50px;
        height: 120px;
        width: 120px;
        background-color: white;
        border-radius: 100px;
        position: relative;
        margin-bottom: 2px;
    }
}

.buttonSign {
    position: relative;
    width: auto;
    height: 50px;

    background: #f8e3c7;
    border-radius: 50px;
    border: none;
    //margin-left: 25px;
    margin: 10px 40px 10px 40px;
    font-family: "Amaranth", sans-serif;
    font-size: 20px;
}