.comment{
    height:800px;
    width:800px;
    background-color: #bde6d2;
    border-radius: 30px;
    font-family: "Amaranth", sans-serif;
    padding:10px;
    h1{
        font-size:40px;
    }
    table{
        display: flex;
        flex-direction: column;
        width:auto;
        height: 120px;
        thead{
            width: auto;
            display: flex;
            flex-direction: column;
            input{
                width:600px;
                height:100px;
                border-radius: 30px;
                background-color: white;
            }
            .iconComment{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: space-around;
                .iconHead{
                    height: 20px;
                    width: 20px;
                    background-color: #85355c;
                    border-radius: 20px;
                }
            }
        }
        tbody{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            .line{
                height: 2px;
                width: 400px;
            }
            tr{
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;
                .iconTD{
                    height: 20px;
                    width: 20px;
                    background-color: #85355c;
                    border-radius: 20px;
                }
                p{
                    height: 50px;
                    width: auto;
                    background-color: white;
                    border-radius: 30px;
                }
            }
        }
    }
}