.popupTree {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: auto;
    background-color: #f8e3c7;
    border-radius: 30px;
    font-family: "Amaranth", sans-serif;

    .ongletB {
        display: flex;
        justify-content: center;

        background-color: #bde6d2;
        border-radius: 10px;

        justify-content: space-evenly;

        .onglet {
            width: auto;
            height: auto;
            padding: 10px;
            font-size: 20px;
            background-color: #bde6d2;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
.displaySectionInfos {
    background-color: #f8e3c7;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    .headPopupTree {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        height: auto;
        width: auto;
        position: relative;

        background-color: #f8e3c7;
        .iconTree {
            margin-top: 15px;
        }
        .middleHeader {
            height: auto;
            width: auto;
            text-align: center;
            justify-content: center;
            line-height: 10px;
            a {
                cursor: pointer;
            }
        }
        .iconPaper {
            margin-top: 45px;
            button {
                height: 40px;
                border-radius: 20px;
                border: none;
                width: 40px;
                display: flex;
                font-family: "Amaranth", sans-serif;
                text-align: center;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                p {
                    margin-top: 25px;
                }
            }
        }
    }
    .BLbutton {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .btnBL {
            background-color: #bde6d2;
            border-radius: 20px;
            border: none;
            height: 30px;
            width: 100px;
            margin-top: 10px;
            font-family: "Amaranth", sans-serif;
            font-size: 15px;
            cursor: pointer;
        }
        i{
            font-size: 20px;
            
        }
    }
}

.lineTree {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    width: 220px;
    display: flex;
    background-color: #bde6d2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #bde6d2;
}
.previousBuy {
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f8e3c7;

    h3{
        margin-top: 0px;
    }
    table{
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.displaySectionComments {
    height: auto;
    width: auto;
    background-color: #f8e3c7;
    border-radius: 30px;
    font-family: "Amaranth", sans-serif;
    text-align: center;

    h1 {
        margin: 0px;
        font-size: 25px;
    }

    .commentHead {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        textarea {
            width: 180px;
            height: 50px;
            border-radius: 10px;
            background-color: white;
            border: none;
            font-family: "Amaranth", sans-serif;
        }

        i {
            height: 20px;
            /* width: 20px; */
            border-radius: 20px;
            font-size: 20px;
            justify-content: center;
            cursor: pointer;
        }
    }
    .commentBody {
        width: auto;
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 10px;

        .commentDate {
            text-align: right;
            background-color: #bde6d2;
            border-radius: 10px;
            margin-top: -10px;

        }

        .commentContainer {
            display: flex;
            justify-content: space-evenly;
            .commentContent {
                p {
                    margin-bottom: 10px;
                    height: 50px;
                    width: 150px;
                    background-color: white;
                    border-radius: 10px;
                    margin-top: 0px;
                    padding: 10px;
                }
                .buyDate {
                    text-align: right;
                    background-color: #bde6d2;
                    border-radius: 10px;
                   
        
                }
            }

            .commentUser {
                width: auto;
                height: auto;
                display: flex;
                display: flex;
                flex-direction: column;
                padding: 10px 10px 10px 0;
                i {
                    font-size: 20px;
                    border-radius: 20px;
                }
            }
        }
    }
}
.previousBuy::-webkit-scrollbar {
    width: 5px;
}
.previousBuy::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bde6d2;
}

.previousBuy::-webkit-scrollbar-track-piece:end {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.previousBuy::-webkit-scrollbar-track-piece:start {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.commentBody::-webkit-scrollbar {
    width: 5px;
}
.commentBody::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bde6d2;
}
.commentBody::-webkit-scrollbar-track-piece:end {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.commentBody::-webkit-scrollbar-track-piece:start {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
