.gamePage {
    z-index: 1;
    position: relative;
    .assets {
        position: fixed;
        top: 45px;
        left: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 210px;
    }
    .profile {
        position: fixed;
        top: 45px;
        right: 45px;
        text-align: center;
    }
    .actions {
        position: fixed;
        bottom: 45px;
        left: 45px;
    }
    #buttonL {
        background: #f4c287;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 60px;
        height: 80px;
        margin: 0 10px 0px 0;
        outline: none;
        border: none;
    }
    #buttonF {
        background: #f4c287;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 60px;
        height: 60px;
        margin: 0 10px 0px 0;
        cursor: pointer;
        outline: none;
        border: none;
    }

    #iconL {
        height: 55px;
        width: 55px;
        margin-top: 10px;
    }

    #iconF {
        text-align: center;
        margin: 0px;
        margin-left: -20px;
        height: 0px;
        width: 0px;
        font-size: 20px;
    }
    h2 {
        position: absolute;
        margin-top: -10px;
        margin-left: 20px;
        border-radius: 40px;
        background: #85355c;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        font-size: 25px;
        line-height: 50px;
        color: #ffffff;
        padding: 0px 15px 0px 15px;
    }

    #buttonSettings {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #85355c;
        color: white;
        border-radius: 30px;
        margin-left: 40px;
        cursor: pointer;
        outline: none;
        border: none;
    }
    #profilePicture {
        height: 150px;
        width: 150px;
        background-color: white;
        border-radius: 100px;
        border: solid 15px #f4c287;
    }
    #iconR {
        text-align: center;
        margin: 0px;
        margin-left: -20px;
        height: 0px;
        width: 0px;
        font-size: 20px;
    }
}
